
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a style="cursor: pointer" class="navbar-brand" onclick="location.href='/'">郭小贝的blog</a>
        </div>
        <div class="navbar-header" style="margin-left: 600px;font-size: 55px;font-weight: bolder">
            <a class="navbar-brand" onclick="location.href='/'">欢迎<%- user %></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a onclick="location.href='/login'"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
            <li><a onclick="location.href='/register'"><span class="glyphicon glyphicon-user"></span> 注册</a></li>

            <li><a onclick="location.href='/liuyan'"><span class="glyphicon glyphicon-log-in"></span> 留言</a></li>
            <li><a onclick="location.href='/about'"><span class="glyphicon glyphicon-log-in"></span> 关于我们</a></li>
            <li><a onclick="location.href='/out'"><span class="glyphicon glyphicon-log-in"></span> 退出</a></li>
        </ul>
    </div>
</nav>
<div class="mainContent">
    <div class="ulist">
        <section> <a href="#"> <img src="/images/s5.jpg"></a>
            <ul>
                <h2><a href="/article1">H5 前端开发工程师</a></h2>
                <p>于千万人之中，我遇见了我所遇见的人...</p>
            </ul>
        </section>
        <section> <a href="#"><img src="/images/s7.jpg"></a>
            <ul>
                <h2><a href="/article1">bootstrap 小图标</a></h2>
                <p>如果没有悄然伫立阡陌并为陌上风情所陶醉的人，那么花开也寂寞，风情也苍白....</p>
            </ul>
        </section>
        <section> <a href="#"><img src="/images/text02.jpg"></a>
            <ul>
                <h2><a href="/article1">怎样学好nodejs</a></h2>
                <p>每逢新旧年交替时候，我就被笼罩在一股茫然的思绪里，逃也逃不脱...</p>
            </ul>
        </section>
    </div>
</div>
